**CSE430**
```
UNIVERSITY OF ASIA PACIFIC
HASAN TAHSIN RAFSAN
FALL 2021
Lab Problem 2
14 FEBRUARY 2022
```

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(columns=['Name', 'Type'])
df.head()

Empty DataFrame
Columns: [Name, Type]
Index: []

In [ ]:
#name, type
#1. insert function

def insert(df, name, t):
    if (name not in df.Name.values) or (t not in df.Type.values):  #if both are not found in dataframe table...
        df.loc[-1] = [name, t] #hashcode generate here .......
        df.index = df.index + 1 #update the index number
        df = df.sort_index() #sorting location
    return df

In [ ]:
#2. search function according to name

def search(df, name):
    return df.loc[df['Name'] == name] # for type search... "['Type'] == t..."

In [ ]:
#3. delete function according to name

def delete(df, name):

    try:
        indx = df.loc[df['Name'] == name].index[0]
        df.drop([indx], axis=0, inplace= True) #remove labels of table columns or rows ... axis 0 =rows, axis 1= columns...
        df.reset_index (inplace = True) #change or remove the index
        df.drop('index', axis=1, inplace =True)
        return df

    except:
        print('Name Not Exist')
        return df

In [ ]:
#4. show function

def show():
    print(df)

In [ ]:
#5. update function

def update(df, name=None, new_name=None, t=None, new_t =None):
    
    if name:
        if name in df.Name.values:
            df.loc[df.Name == name,'Name'] = new_name #1st block for name
    if t:
        if t in df.Type.values:
            df.loc[df.Type == t,'Type'] = new_t #2nd block for type

    return df

In [ ]:
#6. getHash function

def getHashKey(df, name):
    return df.loc[df['Name'] == name].index[0] #return dataframe location against name... for type t, "Type"

In [ ]:
#insert values in table

df = insert(df,'int','INTEGER')
df = insert(df,'myFunction','FUNCTION')
df = insert(df,'x','ID')
df = insert(df,'5','NUM')
df

         Name      Type
0           5       NUM
1           x        ID
2  myFunction  FUNCTION
3         int   INTEGER

In [ ]:
#insert any new value into previous table

df = insert(df, 'x', 'STRING')
df

         Name      Type
0           x    STRING
1           5       NUM
2           x        ID
3  myFunction  FUNCTION
4         int   INTEGER

In [ ]:
#searching against name

search(df, 'x')

  Name    Type
0    x  STRING
2    x      ID

In [ ]:
#delete any values against name

df = delete(df, name='x')
df

         Name      Type
0           5       NUM
1           x        ID
2  myFunction  FUNCTION
3         int   INTEGER

In [ ]:
df

         Name      Type
0           5       NUM
1           x        ID
2  myFunction  FUNCTION
3         int   INTEGER

In [ ]:
#updated data 
#1st block = old Name, 2nd block = replaced Type 
#3rd block = old Name, 4th block = replaced Type

df = update(df, '5','9','NUM','Number')

In [ ]:
df

         Name      Type
0           9    Number
1           x        ID
2  myFunction  FUNCTION
3         int   INTEGER

In [ ]:
getHashKey(df,'myFunction') #ord function.....hashcode

2


```
#code limitation 
if i put any values with same name or type.... then it will delete the 1st one.
if i add some new items then it will place into 1st position of dataframe
```

---

---

In [ ]:
from pandas import DataFrame

n = int(input("Enter the length of list: "))
print()
table = [[] * n for i in range(n)]

def hash(symbol):
    total = 0
    for i in symbol:
        total += ord(i)
    return total % len(table)

while True:

   print("1 - Insert")
   print("2 - Edit")
   print("3 - Remove")
   print("4 - Display")
   print("5 - Search")
   print("6 - Exit")
   print()

   choice = input("Enter the number of choice: ")
   print()

   if choice == '1':
       n=int(input("Enter No. of input: "))
       for i in range(n):
           type,symbol = input("Enter the new type and name: ").split()
           list=table[hash(symbol)]
           k = False
           m= False
           for i, sublist in enumerate(list):
                if symbol in sublist:
                    k = True
                    break       
           if k:
                print("already exits!! ")
                continue
           else:
                list.append((symbol, type))
                m = True
                
       if(m):
           print()
           print("Insertion Successfull")
                 
       print()

   elif choice == '2':
       symbol= input("Enter the key to edit: ")
       list=table[hash(symbol)]
       m=True
       if list:
           for i, sublist  in enumerate(list):
               if symbol in sublist:
                   type= input("Enter the new type: ")
                   list[i]=(symbol,type)
                   print()
                   print("Update Successful!")
                   break    
               else:
                   m=True 
       else:
           print()
           print("No such key")
           
       if(m == False):
           print()
           print("No such key")
   elif choice == '3':
       symbol= input("Enter the key to Delete: ")
       list=table[hash(symbol)]
       m=True
       if list:
           for i, sublist  in enumerate(list):
               if symbol in sublist:
                   del list[i]
                   print()
                   print("Delete Successful!") 
               else:
                   m=True     
  
       else:
           print()
           print("No such key")
       if(m == False):
           print()
           print("No such key")

   elif choice == '4':
       print(DataFrame(table))

   elif choice == '5':
       symbol= input("Enter the key to Search: ")
       list=table[hash(symbol)]
       m=False
       if list:
           for i, sublist  in enumerate(list):
               if symbol in sublist:
                    print()
                    print("Match Found!")
                    print()
                    print(list[i],end=" ")
                    print("hash value ","is",end=" ")
                    print(hash(symbol), end=" ")
                    print("subindex: " , i)
               else:
                   m=True 
            
       else:
           print()
           print("No such key")   
       
       if(m == False):
           print()
           print("No such key") 
               
   elif choice == '6':
       print()
       print("Process Terminating!")
       break

   else:
      print("invalid Input")

   print()

---

---

In [ ]:
import pandas as pd
from pandas import DataFrame

hashTable = [[] for _ in range (5)] # here, table = [[] * n for i in range(n)]

In [ ]:
#hash function according to name
def hash(name):
    name = sum(ord(c)for c in name) #calculation of sum using ord function
    return name % len(hashTable) #return name mod with length of table

In [ ]:
#insert function according to name

def insert (hashTable, name, type):       #Here the function of the insert function has been done where the data will be kept
    hashkey = hash(name) #generate hash key according to name
    keyIs = False
    bucket = hashTable[hashkey] #list

    for i, nt in enumerate (bucket): #nt = sublist
        n, t = nt
        if name == n:
            keyIs = True
            break

    if keyIs:
        bucket[i]((name,type))

    else:
        bucket.append((name, type))

In [ ]:
#update function
def update (hashTable, name, type):
    hashkey=hash(name)
    keiIs=False
    bucket=hashTable[hashkey]

    for i, nt in enumerate (bucket):
        n, t=nt
        if name==n:
            keiIs=True
            break
            
    if keiIs:
        bucket[i]=((name,type))

    else:
        bucket.append((name, type))

In [ ]:
#show function

def show():
    print(hashTable)

In [ ]:
#delete function... data delete from hash table

def delete (hashTable, name):
    hashkey=hash(name)
    keiIs=False
    bucket=hashTable[hashkey]

    for i, nt in enumerate (bucket):
        n, t=nt
        if name==n:
            keiIs=True
            break

    if keiIs:
        del bucket[i]

    else:
        print("No Such Name")

In [ ]:
#search function

def search (hashTable, name):
    hashkey=hash(name)
    keiIs=False
    bucket=hashTable[hashkey]

    for i, nt in enumerate (bucket):
        n, t=nt
        if name==n:
           return n, t

In [ ]:
show()

[[], [], [], [], []]

In [ ]:
#insert values

insert(hashTable,"int","INTEGER")
insert(hashTable,"myFunction","FUNCTION")
insert(hashTable,"x" ,"ID")
insert(hashTable,"5" ,"NUM")
insert(hashTable, "Rafsan", "18101009")
show()

[[('x', 'ID')], [('int', 'INTEGER')], [], [('myFunction', 'FUNCTION'), ('5', 'NUM'), ('Rafsan', '18101009')], []]

In [ ]:
#hash value show

print(hash("5")) # Hash 
print("O")

3
O

In [ ]:
#update the table input data
update(hashTable,"5","1971")
show()

[[('x', 'ID')], [('int', 'INTEGER')], [], [('myFunction', 'FUNCTION'), ('5', '1971'), ('Rafsan', '18101009')], []]

In [ ]:
#search of data

print(search(hashTable, "myFunction"))

('myFunction', 'FUNCTION')

In [ ]:
#delete hash table data
delete(hashTable,"int")
show()

[[('x', 'ID')], [], [], [('myFunction', 'FUNCTION'), ('5', '1971'), ('Rafsan', '18101009')], []]

---

---

In [ ]:
Table_length = 4
hashTable = [[] for _ in range(Table_length)]

def insert_data(myData):
    x, y = myData
    pos = ord(x[0]) % Table_length
    hashTable[pos].append(myData)
    return

def search_data_name(name):
    pos = ord(name[0]) % Table_length
    print(name)
    for each_data in hashTable[pos]:
        x, y = each_data
        if x == name:
            print("Name {} , Hash value {}".format(x, pos))
            return


def delete_by_name(name):
    pos = ord(name[0]) % Table_length

    for each_data in hashTable[pos]:
        x, y = each_data
        if x == name:
            hashTable[pos].remove(each_data)
            return

def show_hash_table():

    for i in range(Table_length):
        print("Hash {} Table {}".format(i, hashTable[i]))
    return


def update_data_name(name, t):
    pos = ord(name[0]) % Table_length

    for each_data in hashTable[pos]:
        x, y = each_data
        if x == name:
            hashTable[pos].remove(each_data)
            hashTable[pos].append([name, t])
            return

while True:
    command = int(input('Enter input: '))

    if command == 1:
        try:
            a = input('Enter data: ').split(',')
            insert_data(a)
        except Exception as e:
            print("Can not insert", e)

    elif command == 2:
        try:
            a = input("Enter name: ")
            search_data_name(a)
        except Exception as e:
            print("Data not Found")


    elif command == 3:
        try:
            a = input("Enter name: ")
            delete_by_name(a)
        except Exception as e:
            print('Can not delete')

    elif command == 4:
        show_hash_table()

    elif command == 5:
        name = input("Enter name: ")
        t = input("Enter update: ")
        try:
            update_data_name(name, t)
        except Exception as e:
            print('Can not update')

    elif command == 6:
        break

Enter input: 1
Enter data: int,INTEGER
Enter input: 1
Enter data: x,ID
Enter input: 1
Enter data: myFunction,FUNCTION
Enter input: 1
Enter data: 5,NUM
Enter input: 1
Enter data: rafsan,18101009
Enter input: 4
Hash 0 Table [['x', 'ID']]
Hash 1 Table [['int', 'INTEGER'], ['myFunction', 'FUNCTION'], ['5', 'NUM']]
Hash 2 Table [['rafsan', '18101009']]
Hash 3 Table []
Enter input: 1
Enter data: CSE429,Compiler
Enter input: 1
Enter data: CSE430,CompilerLab
Enter input: 4
Hash 0 Table [['x', 'ID']]
Hash 1 Table [['int', 'INTEGER'], ['myFunction', 'FUNCTION'], ['5', 'NUM']]
Hash 2 Table [['rafsan', '18101009']]
Hash 3 Table [['CSE429', 'Compiler'], ['CSE430', 'CompilerLab']]
Enter input: 1
Enter data: tahsin, STRING
Enter input: 4
Hash 0 Table [['x', 'ID'], ['tahsin', ' STRING']]
Hash 1 Table [['int', 'INTEGER'], ['myFunction', 'FUNCTION'], ['5', 'NUM']]
Hash 2 Table [['rafsan', '18101009']]
Hash 3 Table [['CSE429', 'Compiler'], ['CSE430', 'CompilerLab']]
Enter input: 1
Enter data: rayat,2
Enter input: 4
Hash 0 Table [['x', 'ID'], ['tahsin', ' STRING']]
Hash 1 Table [['int', 'INTEGER'], ['myFunction', 'FUNCTION'], ['5', 'NUM']]
Hash 2 Table [['rafsan', '18101009'], ['rayat', '2']]
Hash 3 Table [['CSE429', 'Compiler'], ['CSE430', 'CompilerLab']]
Enter input: 2
Enter name: CSE430
CSE430
Name CSE430 , Hash value 3
Enter input: 2
Enter name: rafsan
rafsan
Name rafsan , Hash value 2
Enter input: 3
Enter name: rayat
Enter input: 4
Hash 0 Table [['x', 'ID'], ['tahsin', ' STRING']]
Hash 1 Table [['int', 'INTEGER'], ['myFunction', 'FUNCTION'], ['5', 'NUM']]
Hash 2 Table [['rafsan', '18101009']]
Hash 3 Table [['CSE429', 'Compiler'], ['CSE430', 'CompilerLab']]
Enter input: 5
Enter name: 5
Enter update: 9
Enter input: 4
Hash 0 Table [['x', 'ID'], ['tahsin', ' STRING']]
Hash 1 Table [['int', 'INTEGER'], ['myFunction', 'FUNCTION'], ['5', '9']]
Hash 2 Table [['rafsan', '18101009']]
Hash 3 Table [['CSE429', 'Compiler'], ['CSE430', 'CompilerLab']]
Enter input: 6